.markdown-container {
    width: 100%;
    height: 720px;
    display: table;
}

.box {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    height: 100%;
}

.rendered-zone {
    border: 1px solid;
    overflow: scroll;
}

textarea#body {
    width: 100%;
    height: 100%;
}